section.cover blockquote {
    font-size: 1rem; 
  }

  .sidebar .app-name .app-name-link {
    /* background-color: #5bae23; */
    color: #5bae23;
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.54;
    font-weight: 600;
    outline: 0;
    -webkit-text-decoration: none;
    text-decoration: none;
    white-space: nowrap;
    width: 95%;
  }